.main-app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: #fcfcfc;
}

.main-app-wrapper .content-wrapper {
   flex: 1;
}

.main-app-wrapper .footer-wrapper {
  background-color: #2196f3;
}